* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
  list-style: none;
  text-decoration: none;
  // scroll-behavior: smooth;
}

body {
  color: #aaa;
  background-color: black;
  background-image: url(../img/background-image.jpeg);
}

.container {
  max-width: 1140px;
  margin: auto;
}

.hide {
  display: none;
}
.show {
  display: block;
}

$gray: #999;

$title-size: 1.25rem;
$title-color: #fff;
$title-height: 1.5rem;

$text-size: 0.8rem;
$text-color: #ccc;
$text-height: 1.125rem;
